<form action="" method="post", enctype="multipart/form-data" nonvalidate>
	{{ form.hidden_tag() }}
	<p>
		{{ form.upload.label }}<br>
		{{ form.upload() }}<br>
		{% for error in form.upload.errors %}
		<span style="color: red;">[{{ errors }}]</span>
		{% endfor %}
	</p>
	<p>
		{{ form.description.label }}<br>
                {{ form.description(size=64) }}<br>
                {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
	</p>
	<p>{{ form.submit() }}</p>
</form>
